Canonical Name <email>                  Historic Names <email>
Mikey Maldonado <mxm1667@case.edu>      Mikey <mxm1667@case.edu>
Mikey Maldonado <mxm1667@case.edu>      Miguel <mxm1667@case.edu>
Mikey Maldonado <mxm1667@case.edu>      Mikey <45188841+mikey-js@users.noreply.github.com>
Roberto Matthews <rsm153@case.edu>      rsm153 <120332425+rsm153@users.noreply.github.com>
Roberto Matthews <rsm153@case.edu>      rsm153 <rsm153@case.edu>
Sara Wang <sarawang256@gmail.com>       bleblep <sarawang256@gmail.com>
Alex Christian <starttoast@gmail.com>   Alex-BoopyLoops-Christian <starttoast@gmail.com>
Genevieve Resnik <gar64@case.edu>       Genevieve Resnik <gar64@case.edu>
John Shi <jfs145@case.edu>              John Shi <jfs145@case.edu>
